.task-container {
  min-width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  background-color: var(--tenth-color);
  box-shadow: 2px 2px 2px 0px var(--sixth-color);
  text-align: left;
  border-radius: 3px;
  cursor: pointer;
  color: var(--third-color);
}
.task-container:hover .task-bin {
  opacity: 1;
  transition: 0.3s;
}
.task-container:hover .task-update {
  opacity: 1;
  transition: 0.3s;
}

.task-wrapper {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
}

.task-bin {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/trash.svg);
  background-size: cover;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.task-update {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/edit.svg);
  background-size: cover;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.task-bin:active,
.task-update:active {
  transform: scale(1.2);
}

.task-title {
  font-size: 18px;
  font-weight: 400;
  white-space: normal;
}
.task-description {
  white-space: normal;
}
.task-responsible-user {
  text-align: right;
}
