.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 10;
}

.loader span {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
  color: rgb(30, 30, 30);
}

.ball {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--fifth-color);
  animation: bounce 0.5s alternate infinite;
}
.ball:nth-child(2) {
  animation-delay: 0.16s;
}
.ball:nth-child(2) {
  animation-delay: 0.32s;
}

@keyframes bounce {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-50px) scaleX(1);
  }
}
