.edit-container {
    padding-top: 150px;
    border: 1px solid red;
    width: 100%;
    height: 70vh;
}

.edit-title {
    text-align: center;
    font-size: 1.7rem;
}

.edit-form {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    border: 1px solid violet;
}