.column-container {
  width: 300px;
  max-height: calc(100% - 5px);
  padding: 10px;
  text-align: center;
  background-color: rgb(210, 232, 250);
  overflow-x: hidden;
  overflow-y: auto;
}

.column-container::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  bottom: 0;
}
.column-container::-webkit-scrollbar-track {
  background-color: #f9f9fd;
  border-radius: 10px;
}
.column-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(163, 214, 255), rgb(127, 197, 255));
}

.column-wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding-bottom: 5px;
  align-items: center;
}

.column-bin,
.column-update,
.task-create,
.update-title-btn,
.close-title-btn {
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
}

.update-title-btn {
  background-image: url(../../assets/save.png);
}
.close-title-btn {
  background-image: url(../../assets/close.png);
}
.column-bin {
  background-image: url(../../assets/bin.png);
}
.column-update {
  background-image: url(../../assets/update.png);
}
.task-create {
  background-image: url(../../assets/add.png);
}
.task-create-btn {
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.task-create-btn:active .task-create {
  transform: scale(1.2);
}

.task-create:active,
.column-bin:active,
.column-update:active {
  transform: scale(1.2);
}

.update-column-btn {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(163, 214, 255);
}
.update-column-btn:active {
  transform: scale(1.2);
  background-color: rgb(121, 195, 255);
}

.column-title {
  width: calc(100% - 55px);
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.update-title-input {
  height: 90%;
  width: 180px;
  padding: 2px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: none;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s ease-in-out;
}
.update-title-input:focus {
  outline: none;
  border: 2px solid rgb(89, 180, 255);
}
