.column-container {
  position: relative;
  width: 300px;
  max-height: calc(100% - 5px);
  min-height: 200px;
  padding: 10px;
  text-align: center;
  background-color: var(--forth-color);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 3px;
  box-shadow: 4px 4px 4px 0px var(--sixth-color);
  color: var(--third-color);
}

.column-container::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  bottom: 0;
}
.column-container::-webkit-scrollbar-track {
  background-color: var(--first-color);
  border-radius: 10px;
  margin: 10px 0px;
}
.column-container::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 10px;
}

.column-wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  padding-bottom: 5px;
  align-items: center;
}

.column-title {
  width: calc(100% - 55px);
  font-weight: 500;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.update-title-input {
  height: 90%;
  width: 180px;
  padding: 2px;
  font-size: 20px;
  font-weight: 400;
  color: var(--eighth-color);
  background-color: var(--second-color);
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
}
.update-title-input:focus {
  outline: none;
  border: 3px solid var(--forth-color);
}

.task-create-btn {
  position: relative;
  bottom: 0;
}
