:root {
  --first-color: #f4f4f4;
  --second-color: #ffaa5a;
  --third-color: #1f1f1f;
  --forth-color: #d6d6d6;
  --fifth-color: #2e2e2e;
  --sixth-color: #585858;  
  --seventh-color: #ffffff;
  --eighth-color: #ffffff60;  
  --ninth-color: #ff795e;  
  --tenth-color: #ffffff;
  --eleventh-color: #ff932ed3;
  --twelfth-color: #1f1f1f2f;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 32px;
}
