.body.light,
.modal-window.light,
.confirmation-window.light {
  --first-color: #f4f4f4;
  --second-color: #ffaa5a;
  --third-color: #1f1f1f;
  --forth-color: #d6d6d6;
  --fifth-color: #ffffff;
  --sixth-color: #585858;  
  --seventh-color: #ffffff;
  --eighth-color: #1f1f1f;  
  --ninth-color: #ff795e;  
  --tenth-color: #ffffff;
  --eleventh-color: #ffffff76;
  --twelfth-color: #1f1f1f42;
  transition: all 0.4s;
}
.body.dark,
.modal-window.dark,
.confirmation-window.dark {
  --first-color: #3f3f3f;
  --second-color: #7abdff;
  --third-color: #f4f4f4;
  --forth-color: #d6d6d63c;
  --fifth-color: #ffffff71;
  --sixth-color: #2d2d2d;  
  --seventh-color: #ffffff;
  --eighth-color: #1f1f1f;  
  --ninth-color: #8082ff;  
  --tenth-color: #ffffff;
  --eleventh-color: #ffffff76;
  --twelfth-color: #d7d7d76b;
  transition: all 0.4s;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 32px;
}
