.modal-board-form {
  margin-top: 50px;
}

.board-create-btn {
  position: absolute;
  top: 395px;
  left: 84px;
  width: 167px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;
  border: none;
}

.close-modal-btn {
  position: relative;
  z-index: 6;
  top: 115px;
  right: 105px; 
  margin-top: 40px;
  cursor: pointer;
  border: none;
  background: rgb(138, 156, 251);
  font-size: 22px;
}
