header {
  background: linear-gradient(270deg, var(--ninth-color), var(--second-color));
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 75px;
  position: sticky;
  width: 100%; 
  top: 0;
  z-index: 999;
  color: var(--tenth-color);
}

.header-active{
  background-color: var(--second-color);
  transition:all 1s;    
}

.header-title {
  text-align: left;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.header-btn {
  min-height: 75px;
  min-width: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  column-gap: 15px;
  background-color: none;
  border: none;
}
.header-btn:hover {
  box-shadow: 0px -56px 21px -29px var(--second-color) inset;
}
.header-btn:active {
  background-color: var(--second-color);
}
.btn-text {
  font-size: 16px;  
}

.edit-btn,
.logout-btn,
.user-delete-btn,
.create-board-btn,
.en-btn,
.ru-btn {
  min-width: 30px;
  height: 30px;
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.edit-btn {
  background-image: url(../../assets/user-1.svg);
}

.logout-btn {
  background-image: url(../../assets/logout.svg);
}

.user-delete-btn {
  background-image: url(../../assets/trash.svg);
}

.create-board-btn {
  background-image: url(../../assets/plus.svg);
}

.en-btn {
  width: 40px;
  background-image: url('/public/en.png');
}

.ru-btn {
  width: 40px;
  background-image: url('/public/ru.png');
}

.edit-btn:hover,
.logout-btn:hover,
.user-delete-btn:hover,
.create-board-btn:hover,
.en-btn:hover,
.ru-btn:hover {
  transform: scale(1.2);
}
/* togglers */

.toglers-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
}
.checkbox {
  display: none;
}
.togler-container {
  display: block;
  width: 60px;
  height: 31px;
  border: 3px solid var(--tenth-color);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.togler-ball {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--tenth-color);
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
.en,
.ru,
.sun,
.moon {
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--tenth-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.en {
  right: 5px;
}
.ru {
  left: 5px;
}
.sun,
.moon {
  height: 24px;
  width: 24px;
  background-size: cover;
}
.sun {
  background-image: url(../../assets/sun.svg);
  left: 2px;
}
.moon {
  background-image: url(../../assets/moon.svg);
  right: 2px;
}

.checkbox:checked + .togler-ball {
  transform: translate(29px, -50%);
}
