header {
  background: rgb(210, 232, 250);
  height: 100px;
  position: sticky;
  width: 100%; 
  top: 0;
  z-index: 999;
}

.header-active{
  background-color: rgb(95, 131, 160);
  transition:all 1s;    
}

.header-title {
  color: rgb(85, 72, 2);
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 40px;
  margin-left: 5px;
  margin-right: 20px;
}

.edit-btn,
.logout-btn,
.user-delete-btn,
.create-board-btn,
.en-btn,
.ru-btn {
  background: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.edit-btn {
  width: 36px;
  background-image: url('/public/cog.png');
}

.logout-btn {
  width: 38px;
  background-image: url('/public/logout.png');
}

.user-delete-btn {
  width: 36px;
  background-image: url('/public/user-delete.png');
}

.create-board-btn {
  width: 40px;
  background-image: url('/public/create-board.png');
}

.en-btn {
  width: 40px;
  background-image: url('/public/en.png');
}

.ru-btn {
  width: 40px;
  background-image: url('/public/ru.png');
}

.edit-btn:hover,
.logout-btn:hover,
.user-delete-btn:hover,
.create-board-btn:hover,
.en-btn:hover,
.ru-btn:hover {
  transform: scale(1.2);
}
/*Language toggler*/

.checkbox-green {
	display: inline-block;    
	height: 28px;    
	line-height: 28px;  
	margin-right: 10px;      
	position: relative;
	vertical-align: middle;
	font-size: 18px;
	user-select: none;	
}

.checkbox-green .checkbox-green-switch {
	display: inline-block;	
	height: 28px;
	width: 90px;
	box-sizing: border-box;
	position: relative;	
	border-radius: 2px;
	background: #848484;
	transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.checkbox-green .checkbox-green-switch:before {
	content: attr(data-label-on);
	display: inline-block;
	box-sizing: border-box;		
	width: 45px;	
	padding: 0 12px;	
	position: absolute;
	top: 0;
	left: 45px;	
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
  font-weight: bold;
	line-height: 28px;
}

.checkbox-green .checkbox-green-switch:after {
	content: attr(data-label-off);
	display: inline-block;
	box-sizing: border-box;	
	width: 44px;	
	border-radius: 1px;	
	position: absolute;
	top: 1px;
	left: 1px;	
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	background: #4fb743;
	line-height: 26px;
	font-size: 18px;
  font-weight: bold;
	color: white;
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.checkbox-green input[type="checkbox"] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch {
	background-color: #848484;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
	content: attr(data-label-off);
	left: 0;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
	content: attr(data-label-on);
	color: white;
	transform: translate3d(44px, 0, 0);
}

/* Hover */
.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover {
	cursor: pointer;
}
.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
 
/* Disabled */
.checkbox-green input[type=checkbox]:disabled + .checkbox-green-switch {
	opacity: 0.6;   
	filter: grayscale(50%);
}
 
/* Focus */
.checkbox-green.focused .checkbox-green-switch:after {
	box-shadow: inset 0px 0px 4px #ff5623;
}